<section class="section">
  <div class="container">
    <nav class="nav">
      <div class="nav-right">
        <nav class="nav-item level is-mobile">
          {{ range .Site.Params.social }}
          <a class="level-item" href="{{ .url }}" target="_blank">
            <span class="icon">
              <i class="fa {{ .fa_icon }}"></i>
            </span>
          </a>
          {{ end }}
        </nav>
      </div>
    </nav>
    <div>
        <a href="{{ .Site.BaseURL }}"><h1 class="title is-3">{{ .Title }}</h1></a>
        <h2 class="subtitle is-6">{{ .Date.Format "January 2, 2006" }} {{ if (ne ($.Param "displayauthor") false) }}by {{ .Params.author | default .Site.Params.author }}{{ end }}</h2>
    </div>
  </div>
</section>
